FedAGRU_10client_iid.log
FedAGRU_10client_iid.xlsx
FedAGRU_10client_label_skew.log
FedAGRU_10client_label_skew.xlsx
FedAGRU_20client_iid.log
FedAGRU_20client_iid.xlsx
FedAGRU_20client_label_skew.log
FedAGRU_20client_label_skew.xlsx
FedAGRU_30client_iid.log
FedAGRU_30client_iid.xlsx
FedAGRU_30client_label_skew.log
FedAGRU_30client_label_skew.xlsx
FedAGRU_server.py
FedAvg_10client_iid.log
FedAvg_10client_iid.xlsx
FedAvg_10client_label_skew.log
FedAvg_10client_label_skew.xlsx
FedAvg_1_iid.log
FedAvg_1client_iid.log
FedAvg_1client_iid.xlsx
FedAvg_1client_label_skew.log
FedAvg_1client_label_skew.xlsx
FedAvg_20client_iid.log
FedAvg_20client_iid.xlsx
FedAvg_20client_label_skew.log
FedAvg_20client_label_skew.xlsx
FedAvg_30client_iid.xlsx
FedAvg_30client_label_skew.log
FedAvg_30client_label_skew.xlsx
FedAvg_3client_iid.log
FedAvg_3client_iid.xlsx
FedAvg_5client_iid.log
FedAvg_server.py
FedProx_client.py
FedProx_server.py
agru.log
client_exp.py
client_flwr.py
client_incremental.py
label_skew_pseudocode
oldrm.7z
requirements.txt
rf_ft_importances.py
start_exp.sh
temp_weights/
test_preprocess.py
FedAGRU2_server.py
REPORT-13-05-2025.md
__pycache__/
batch_run.sh
data/
data_view.py
feature_importance.py
models/__pycache__/
results/
strategy/__pycache__/
test_setup.py